@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 16px;
}

.date {
    font-family: "Dancing Script", sans-serif;
    text-align: center;
    font-size: 21px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.begin {
    font-family: "Dancing Script", sans-serif;
    text-align: center;
    font-size: 31px;
    padding-bottom: 30px;
}

.prolog {
    background: url('/pic/flowers.jpg') no-repeat center fixed;
    background-size: cover;
}

.prolog img{
   opacity: 0.5; 
   width: 100%;
   height: auto;
}

.prolog h3 {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 15%;
}

.learn-more {
    color: #fff;
    background-color: #001957;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 23px;
    position: absolute;
    top: 70%;
    left: 45%;
    display: block;
    transition: all 500ms ease;
}

.learn-more:hover {
    transform: scale(1.1);
}